/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toggle-checkbox:checked {
    @apply right-0 border-blue-400;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-blue-400;
    /* border-color: #68d391; */
  }
  .settings-text-width {
    @apply w-64;
  }
  .chat-container-height {
    height: calc(100% - 120px);
  }
  .chatlist-recipient-width {
    width: calc(100% - 56px);
  }
  .userbar-name-width {
    width: calc(100% - 100px);
  }
  .chatscreen-username-width {
    width: calc(100% - 7rem);
  }
  .screen-height {
    /* 60px is the height of the navbar */
    height: calc(100vh - 60px);
    overflow: hidden;
  }
}
